*{
  margin: 0;
}
.head{
  background-color: rgb(180, 80, 80);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 70px;
  font-size: 50px;
}
.custom-row{
  margin-left: 10px;
}
body{
  background-color:rgb(46, 106, 196) ;
}
.custom-color{
  color: white;
}
h3{
  color: white;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
  color: black;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}
